@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Instrument+Serif:ital@0;1&display=swap');

body {
  background-color: #0D1012;
  color: #FFF6CF;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Instrument Serif", serif;
  font-style: normal;
  font-weight: 400;
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2.25rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.25rem; }

p {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}